<div class="w-full flex-auto bg-slate-900 py-2 justify-evenly">
    <div class="place-content-start flex flex-row p-1">
        <div class="text-3xl text-left bg-slate-800 text-white font-black p-2 px-6 rounded-lg">Logo</div>
        <div class="text-2xl text-left">Teste 2</div>
        <%= link_to "View Posts", posts_path %>
        <%= link_to "New Post", new_post_path %>
    </div>
</div>