<div class="w-full max-w-lg flex-row bg-slate-800 py-2 justify-evenly">
    <div class="place-content-start flex flex-row">
        <div class="text-4x1 text-left">Teste</div>
        <div class="text-4x1 text-left">Teste 2</div>
        <%= link_to "View Posts", posts_path %>
        <%= link_to "New Post", new_post_path %>
    </div>
</div>